In [1]:
a = 10

In [3]:
if a < 15:
    pass

In [4]:
if a < 15:
    print("my name is ram")

my name is ram

In [6]:
#if the statement is false then there wont be any o/p in this case
if 24 < 15:
    print("my name is ram")

In [7]:
24<15

False

In [9]:
if 13 < 10:
    print("13 is lesser than 10")
else :
    print("if statement is wrong")

if statement is wrong

In [11]:
income = int(input())
if income < 50:
    print("i will be able to buy phone")
elif income < 70:
    print("i will be able to buy car")
elif income < 90:
    print("i will be able to buy a house")
else:
    print("i won't be able to buy anything")

20
i will be able to buy phone

In [14]:
total_price = int(input())
if total_price > 20000:
    discount = total_price* .20
    print("discount will be", discount)
elif total_price <= 7000:
    discount = total_price* .05
    print("discount will be",discount)
else:
    print("wont be able to give any discount")

78612
discount will be 15722.400000000001

In [19]:
coup = input()
if coup == "ram2":
    print("discount will be of 5 %")
    paid_amount = 7080 - 7080* .05
    print("you will be able to get one neuron with this amount", paid_amount )
else:
    print("kindly use a valid coupoun code")

ram2
discount will be of 5 %
you will be able to get one neuron with this amount 6726.0

In [22]:
study_hour = int(input())
if study_hour < 1 :
    print("it may take 8-9 month of time to make a transistion")
elif study_hour < 4 and study_hour > 1 :
    print("it may take 6 month for transistion")
elif study_hour > 10:
    print("it will take 3 month of time for transistion")
else:
    print("it will be difficult")

12
it will take 3 month of time for transistion

nested if else statements

In [28]:
s  = input("enter a string to start : ")
course =  input("enter a course name : ")
service = input("enter a service name : ")
if s == "oneneuron":
    if course == "DSA":
        print("yes its available under one neuron in multiple mode for job preparation and core concepts")
    elif course == "Blockchain":
        print("this is not available as of now, kindly raise a demand")
    elif course == "FSDS":
        print("yes, its available, you can start learning")
    else :
        print("this is not available kindly raise a demand")
elif s == "onenueronservice":
    if service == "courserequest":
        print("*Note: Dear learner, you can raise a demand related to any new course")
    elif service == "module":
        print("*Note: Dear learner, you can raise a demand related to any new module")
    elif service == "doubt":
        print("*Note: Dear learner, you can raise a demand related to any new doubt")
    else:
        print("kindly provide us your feedback and we will fulfill")
else :
    print("kindly connect with our team")

enter a string to start : oneneuron
enter a course name : DSA
enter a service name : doubt
yes its available under one neuron in multiple mode for job preparation and core concepts

while loop, for loop

In [34]:
## for loop

l = [1,2,3,4,6,5,6,8]

for i in l:
    print(i)

1
2
3
4
6
5
6
8

In [40]:
s = "Ram"
for i in s:
    print(i)

R
a
m

In [41]:
t = (1,2,3,4,5,6,6)

In [42]:
for i in t:
    print(i)

1
2
3
4
5
6
6

In [44]:
l =[1,4,6,5.6, 4+7j, "ram"]

In [47]:
for i in l:
    a =  type(i)
    print(a,"type of",i)

<class 'int'> type of 1
<class 'int'> type of 4
<class 'int'> type of 6
<class 'float'> type of 5.6
<class 'complex'> type of (4+7j)
<class 'str'> type of ram

In [49]:
l = [1,4,5,1,7.6]
l1 =[]
for i in l:
    print(i+2)
    l1.append(i+2)

3
6
7
3
9.6

In [50]:
l1

[3, 6, 7, 3, 9.6]

In [59]:
l = [2,45,3,78,2,"ram", 3+4j, [1,2,3,4]]

In [60]:
for i in l:
    if type(i) == int:
        print(i)
    elif type(i) == list:
        for j in i :
            if type(j) == int:
                print(j)

2
45
3
78
2
1
2
3
4

In [72]:
range(0,4)

range(0, 4)

In [74]:
l = [2,45,78,12,12,12,"ram", 6+7j, [56,67,78,"dsfdsf"]]

#q1. try to print the index of all the element

for i in range(len(l)):
    print("index",i, "for an element", l[i])

index 0 for an element 2
index 1 for an element 45
index 2 for an element 78
index 3 for an element 12
index 4 for an element 12
index 5 for an element 12
index 6 for an element ram
index 7 for an element (6+7j)
index 8 for an element [56, 67, 78, 'dsfdsf']

In [73]:
len(l)

9

In [75]:
#enumerate --- in built function of displaying indexes in tuple

for i, j in enumerate(l):
    print(i,j)

0 2
1 45
2 78
3 12
4 12
5 12
6 ram
7 (6+7j)
8 [56, 67, 78, 'dsfdsf']

In [105]:
#q2. try to extract all the list of char if element is string


l = [2,45,78,12,"ram", 6+7j, [56,67,78,"dsfdsf"]]


for i in l:
    if type(i) == str:
        print("characters are ",i)
    elif type(i) == list:
        for j in i:
            if type(j) == str:
                print("characters are ",j)

characters are  ram
characters are  dsfdsf

In [114]:
l = [2,45,78,12,"ram", 6+7j, [56,67,78,"dsfdsf"]]
l3 = []
for i in l:
    if type(i) == str:
        l3.append(i)
    elif type(i) == list:
        for j in i :
            if type(j) == str:
                l3.append(j)

In [109]:
l_1

[]

In [98]:
#q3. try to return a list after doing a square of all the int element.

l = [2,45,78,12,"ram", 6+7j, [56,67,78,"dsfdsf"]]

l2 = []
for i in l:
    if type(i) == int:
        l2.append(i**2)

In [99]:
l2

[4, 2025, 6084, 144]

In [56]:
## for else