In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as seabornInstance
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics
import scipy
from scipy import stats

In [3]:
import os
import sys
os.getcwd()

'C:\\Users\\SAIRAM YERRAMSETTI\\Desktop\\analytics path'

In [6]:
os.chdir("C:\\Users\\SAIRAM YERRAMSETTI\\Documents\\data sets")
frame=pd.read_csv("insurance.csv")

In [7]:
frame.head(10)

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520
5   31  female  25.740         0     no  southeast   3756.62160
6   46  female  33.440         1     no  southeast   8240.58960
7   37  female  27.740         3     no  northwest   7281.50560
8   37    male  29.830         2     no  northeast   6406.41070
9   60  female  25.840         0     no  northwest  28923.13692

In [8]:
frame.dtypes

##object is nothing but string

age           int64
sex          object
bmi         float64
children      int64
smoker       object
region       object
charges     float64
dtype: object

In [9]:
## all ml models are included in sklearn

In [11]:
## independent variables
X=frame.drop('charges',axis=1)

In [12]:
## target variables
Y=frame.charges

In [13]:
## we can handle the categorical varibles by creating dummy variables 
frame_dummy=pd.get_dummies(frame[['sex','smoker','region']])

In [14]:
X=X.drop(['sex','smoker','region'], axis=1)

In [15]:
frame_dummy

,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,1,0,0,1,0,0,0,1
1,0,1,1,0,0,0,1,0
2,0,1,1,0,0,0,1,0
3,0,1,1,0,0,1,0,0
4,0,1,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...
1333,0,1,1,0,0,1,0,0
1334,1,0,1,0,1,0,0,0
1335,1,0,1,0,0,0,1,0
1336,1,0,1,0,0,0,0,1
1337,1,0,0,1,0,1,0,0

In [16]:
##combining dummy variable to other  
X=pd.concat([X,frame_dummy],axis=1)

In [17]:
## checking for the linear regression assumptions

In [20]:
## splitting the dataset into the train and test sets

from sklearn.model_selection import train_test_split
X_train,X_test, y_train,y_test = train_test_split(X,Y, test_size = 0.2, random_state = 0)

In [22]:
## fitting the regression and intiating

from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [23]:
# predicting the test results

y_pred = regressor.predict(X_test)

In [24]:
from sklearn.metrics import r2_score

In [25]:
score = r2_score(y_test,y_pred)

In [26]:
score

0.7999876970680434