In [2]:
l = ['name','emailid','phone no','address']

In [3]:
for i in l :
    print(i)
else :
    print("if for loop is going to complete itself then it will come to else")

name
emailid
phone no
address
if for loop is going to complete itself then it will come to else

In [4]:
l

['name', 'emailid', 'phone no', 'address']

In [5]:
for i in l:
    if i == "emailid":
        break
    print(i)
else:
    print("check this statement")

name

In [6]:
s = "bhaskar"
for i in s:
    if i =="k":
        break
else :
    print("dont execute is unless and untill it is not printing my name")

# while loop

In [7]:
a = 1
while a <6:
    print(a)
    a = a+1

1
2
3
4
5

In [8]:
a = 1
while a <6:
    
    a = a+1
    print(a)

2
3
4
5
6

In [9]:
a = 1
while a < 5 :
    print(a)
    if a == 4:
        break
    a = a +1

1
2
3
4

In [ ]:
a = 1
while a < 5:
    print(a)
    if a == 3:
        continue

In [11]:
a = 1
while a < 6:
    print (a)
    a = a+1
    if a==3:
        continue

1
2
3
4
5

In [14]:
while a < 5:
    pass

In [16]:
for i in l:
    pass

In [17]:
while a < 4 :
    break

In [19]:
a=1

In [21]:
while a < 4:

KeyboardInterrupt:

# nested loops

In [23]:
## range function 
range(6) #generates data excluding 6 (upper bound)

range(0, 6)

In [24]:
list(range(6))

[0, 1, 2, 3, 4, 5]

In [29]:
range(0,7) #excludes 7(upper bound)

range(0, 7)

In [30]:
list(range(0,7))

[0, 1, 2, 3, 4, 5, 6]

In [36]:
list(range(4,10))

[4, 5, 6, 7, 8, 9]

In [37]:
list(range(3,25,2))

[3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23]

In [32]:
list(range(3,10))

[3, 4, 5, 6, 7, 8, 9]

In [33]:
list(range(3,10,-1))

[]

In [35]:
list(range(10,6,-1)) #excludes upper bound

[10, 9, 8, 7]

In [38]:
list(range(10,-5,-2))

[10, 8, 6, 4, 2, 0, -2, -4]

In [39]:
for i in range(7):
    print(i)

0
1
2
3
4
5
6

In [50]:
n = 5
for i in range(0,n):
    for j in range(0,i+1):
        print("Ram ", end = "")
    print("\n")

Ram

Ram Ram

Ram Ram Ram

Ram Ram Ram Ram

Ram Ram Ram Ram Ram

In [51]:
l = [1,2,3,5,6,3,4,6,5,3]
for i in l:
    print(i)

1
2
3
5
6
3
4
6
5
3

In [68]:
t = (1,2,3,4,5)
for i in t:
    print(i)

1
2
3
4
5

In [69]:
len(t)

5

In [70]:
range(len(t))

range(0, 5)

In [71]:
for i in range(len(t)):
    print(i,t[i])

0 1
1 2
2 3
3 4
4 5

In [72]:
s = "bhaskar"
for i in s:
    print(i)

b
h
a
s
k
a
r

In [73]:
t[::-1]

(5, 4, 3, 2, 1)

In [74]:
t

(1, 2, 3, 4, 5)

In [79]:
range(len(t), -1, -1)

range(5, -1, -1)

In [81]:
for i in range(len(t)-1, -1, -1):
    print(t[i])

5
4
3
2
1

In [82]:
d = {"a":"bhaskar","b":"sairam", "c":[1,2,1,3,5,2],"d":(1,2,3,6,4), "e": "ram"}

In [83]:
d

{'a': 'bhaskar',
 'b': 'sairam',
 'c': [1, 2, 1, 3, 5, 2],
 'd': (1, 2, 3, 6, 4),
 'e': 'ram'}

In [84]:
for i in d:
    print(i)

a
b
c
d
e

In [85]:
d['d']

(1, 2, 3, 6, 4)

In [86]:
for i in d:
    print(i,d[i])

a bhaskar
b sairam
c [1, 2, 1, 3, 5, 2]
d (1, 2, 3, 6, 4)
e ram

In [87]:
d.items()

dict_items([('a', 'bhaskar'), ('b', 'sairam'), ('c', [1, 2, 1, 3, 5, 2]), ('d', (1, 2, 3, 6, 4)), ('e', 'ram')])

In [88]:
for i in d.items():
    print(i)

('a', 'bhaskar')
('b', 'sairam')
('c', [1, 2, 1, 3, 5, 2])
('d', (1, 2, 3, 6, 4))
('e', 'ram')

In [92]:
s = {3,5,6,86,45,2,1,2,3,6,86,5,4}

In [93]:
for i in s:
    print(i)

1
2
3
4
5
6
45
86

In [1]:
s = "sairam"

ss = ""

for i in range(len(s)):
    if s[i] == "i":
        continue
    else:
        ss = ss + s[i]

In [2]:
ss

'saram'

In [4]:
n = 7
for  i in range(0,n):
    for j in range(0,i+1):
        print("+ ", end = "")
    print("\r")

+
+ +
+ + +
+ + + +
+ + + + +
+ + + + + +
+ + + + + + +

In [16]:
n = int(input('Enter number of rows required'))

for i in range(n,0,-1):
    for j in range(n-i):
        print(" ", end = "")
        
    for j in range(2*i-1):
        print('*',end='')
    print()

Enter number of rows required7
*************
 ***********
  *********
   *******
    *****
     ***
      *

In [17]:
num = 5

m = 2* num - 2

for i in range(num, -1, -1):
    for j in range (m, 0, -1):
        print(end=" ")
    m = m + 1
    
    for j in range(0, i+1):
        print("*",end=" ")
    print("")

        * * * * * *
         * * * * *
          * * * *
           * * *
            * *
             *

In [30]:

#reversal for above image without using for loop:
n = 9
i= 0
while i < n :
    print(' '*(n-i-1) + '* '*(i+1))
    i + = 1

SyntaxError: invalid syntax (Temp/ipykernel_13076/3881928670.py, line 6)

In [39]:
n = 9
i = 0

while i < n:
    print(' '*(n-i-1) + '* '*(i+1))
    i +=1

        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *
  * * * * * * *
 * * * * * * * *
* * * * * * * * *

In [24]:
for i in range(7,0):
    print(i)

7
6
5
4
3
2
1

In [47]:
l =[ 1,2,3,"bhsas",(1,2,3),[4,5,"jui",6]]

In [48]:
for i in l:
    print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'tuple'>
<class 'list'>

In [49]:
for i in l:
    if type(i) == list:
        for j in i:
            print(type(j))

<class 'int'>
<class 'int'>
<class 'str'>
<class 'int'>

In [51]:
for i in l:
    if type(i) == list:
        n = 0
        for j in i:
            if type(j) == int:
                n = n+j
        print(n)
        
        print(type(j))

15
<class 'int'>

In [52]:
l[0:5]

[1, 2, 3, 'bhsas', (1, 2, 3)]

In [54]:
  for i in range(4,50,5):
        print(i)

4
9
14
19
24
29
34
39
44
49

In [57]:
list(range(5))

[0, 1, 2, 3, 4]

In [60]:
enumerate(l)