In [1]:
#importing the libraries

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
#importing dataset iris with pandas

dataset=pd.read_excel("C:\\Users\SAIRAM YERRAMSETTI\Documents\data sets\Iris.xls")

In [6]:
x=dataset.iloc[:,[0,1,2,3]].values  ###converting data frame into numpy array

In [7]:
dataset.head()

,sepal length,sepal width,petal length,petal width,iris,Unnamed: 5,Unnamed: 6,sepal length.1,Unnamed: 8
0,5.1,3.5,1.4,0.2,Iris-setosa,NaN,NaN,Count,150.000000
1,4.9,3.0,1.4,0.2,Iris-setosa,NaN,NaN,Minimum,4.300000
2,4.7,3.2,1.3,0.2,Iris-setosa,NaN,NaN,Maximum,7.900000
3,4.6,3.1,1.5,0.2,Iris-setosa,NaN,NaN,Mean,5.843333
4,5.0,3.6,1.4,0.2,Iris-setosa,NaN,NaN,Median,5.800000

In [8]:
from sklearn.cluster import KMeans

In [10]:
?KMeans

In [11]:
print(dir(KMeans))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setstate__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', '_check_test_data', '_estimator_type', '_get_param_names', '_transform', 'fit', 'fit_predict', 'fit_transform', 'get_params', 'predict', 'score', 'set_params', 'transform']

In [12]:
## finding the optimum number of clusters for k-means classification

from sklearn.cluster import KMeans

wcss=[]

for i in range(1,11):
    kmeans=KMeans(n_clusters=i, init='k-means++', max_iter=300,\ n_init=10, random=0)
    
    kmeans.fit(x)
    wcss.append(kmeans.inertia_)

SyntaxError: unexpected character after line continuation character (<ipython-input-12-5959e22b2ecd>, line 8)

In [ ]:
#Applying kmeans  to the dataset/ creating the kmeans classifier

3